html {
	display: flex;
	min-height: 100%;
}

body {
	@include main-font;
	background: $bg-color;
	color: $fg-color;
	font-size: 14pt;

	flex: 1;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
	max-width: 780px;

	margin: {
		left: 20px;
		right: 20px;
	};

	@media (min-width: 820px) {
		margin: {
			left: auto;
			right: auto;
		};
	}
}

.page-entry {
	margin-top: 1rem;

	&:not(:first-child) {
		margin-top: 2rem;
	}
}

.page-title {
	margin-bottom: 0;
}

.page-date {
	font-size: 0.9rem;
	font-style: italic;
}

.toc-link {
	display: block;
	text-decoration: none;
	margin-bottom: 0.5em;
}

.main-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;

	width: 100%;
	box-sizing: border-box;
	padding: {
		top: 5em;
		bottom: 0.5em;
		right: 1em;
	};
	font-size: 0.8rem;
}

.license {
	padding-left: 1em;
}

.main-footer-nav {
	text-align: right;
}

.theme-switcher {
}

.github-link-container {
	margin-bottom: 0.5em;
}

.github-link {
	text-decoration: none;
}

.octicon {
	height: 1em;
	width: 1em;
	fill: $fg-color;
}

.modal {
    position: fixed;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $bg-color;
    border: 2px solid $fg-color;
    border-radius: 15px;
    padding: {
        left: 3em;
        right: 3em;
        top: 3em;
        bottom: 3em;
    };
}

.modal-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1.5em;
}

.modal-button {
    text-decoration: none;
    padding: {
        top: 0.5em;
        bottom: 0.5em;
        left: 1em;
        right: 1em;
    };
    border: 1px solid $fg-color;
    border-radius: 5px;
    width: 3em;
    text-align: center;
}
