{%- macro zeroextend(num) -%}
{%- if num < 10 -%} 0 {%- endif -%}{{ num }}
{%- endmacro zeroextend -%}

{% macro toc(headers) %}
<ul>
	{% for header in headers %}
		<li>
			<a href="#{{ header.id }}" class="toc-link">{{ header.title }}</a>
			{% if header.children %}
				{{ self::toc(headers=header.children) }}
			{% endif %}
		</li>
	{% endfor %}
</ul>
{% endmacro toc %}

{% macro page(page, content, toc=false) %}
<header class="page-meta">
	<h2 class="page-title">
		<a href="{{ page.path | safe }}" class="page-link">{{ page.title }}</a>
	</h2>
	<time datetime="{{ page.date }}" class="page-date">
		написано
		{{ self::zeroextend(num=page.day) }}.{{ self::zeroextend(num=page.month) }}.{{ page.year }}
	</time>
</header>
{% if toc %}
	<h3 id="toc"><a href="#toc">Оглавление</a></h3>
	{{ self::toc(headers=page.toc) }}
	<hr>
{% endif %}
{{ content | safe }}
{% endmacro page %}

<!-- neomake: skip -->
<!-- vim: ft=htmldjango -->
